// GitHub "unread notifications" div
.notification-indicator .mail-status.unread {
    display: none !important; 
}
 
// 500px "buy this photo" annoyingness
.buy_photo_wrap {
	display: none !important;
}
 
// 500px photo-ratings divs – I'd rather judge photos on their merits than their popularity.
div.data_wrap.clearfix {
	display: none !important;
}
.grid .photo .inside .rating, .grid .ad .inside .rating {
	display: none !important;
}
 
// Facebook's stupid chat div
#BuddylistPagelet {
	display: none !important;
}
